<template>
  <div class="basket">
    <div class="basket-labels">
      <ul>
        <li class="item item-heading">Item</li>
        <li class="price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Subtotal</li>
      </ul>
    </div>

    <div class="products">
      <cartItem
        v-on:remove="removeProduct($event)"
        v-on:changeQuantity="changeQuanity($event)"
        v-on:recalculateTotal="recalculateTotal()"
        v-for="product in getProducts"
        v-bind:key="product.id"
        :product="product"
      />
    </div>
  </div>
</template>

<script>
import CartItem from "./CartItem";
import store from "../stores/ItemStore.js";

export default {
  name: "Cart",

  components: {
    CartItem
  },

  computed: {
    getProducts: () => {
      return store.state.products;
    }
  },

  data() {
    return {
      total: store.state.total,
      coupon: "",
      products: store.state.products
    };
  },

  methods: {
    removeProduct(id) {
      store.dispatch("removeProduct", id);
      this.handleSaveStore();
    },
    changeQuanity(data) {
      store.dispatch("changeQuantity", { id: data.id, value: data.value });
      this.handleSaveStore();
    },
    handleSaveStore() {
      store.dispatch("saveStore");
    }
  }
};
</script>

<style scoped>
.basket {
  width: 70%;
}
.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
  content: "";
}

.item {
  width: 55%;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.subtotal {
  text-align: right;
}
</style>
