<template>
  <div class="cart-item">
    <div class="basket-product">
      <div class="item">
        <div class="product-image">
          <img src="http://placehold.it/120x166" alt="Placholder Image 2" class="product-frame" />
        </div>
        <div class="product-details">
          <h1>
            <strong>
              <span class="item-quantity">{{product.quantity}}</span> x Eliza J
            </strong>
            Lace Sleeve Cuff Dress
          </h1>
          <p>Product Code - {{product.code}}</p>
        </div>
      </div>

      <div class="price">{{product.price.toFixed(2)}}</div>

      <InputNumber
        class="quantity"
        :min="1"
        :max="product.stockQuantity"
        :value="product.quantity ===0  ? value : product.quantity"
        @change="onChange"
      />

      <div class="subtotal">{{subtotalPrice.toFixed(2)}}</div>

      <div class="remove">
        <button @click="onRemoveClick" v-if="product.quantity">x</button>
        <button @click="onAddClick" v-else>Add to cart</button>
      </div>
    </div>
  </div>
</template>

<script>
import { InputNumber } from "ant-design-vue";
export default {
  name: "CartItem",

  components: {
    InputNumber
  },

  props: ["product"],

  data() {
    return {
      value: 1,
      subtotalPrice: this.product.price * this.product.quantity,
      awesome: false
    };
  },

  methods: {
    onChange(value) {
      if (this.product.quantity) {
        this.handleChangePriceData(value);
      } else {
        this.value = value;
      }
    },

    onRemoveClick() {
      this.subtotalPrice = 0;
      this.$emit("remove", this.product.id);
    },

    onAddClick() {
      this.handleChangePriceData(this.value);
    },

    handleChangePriceData(value) {
      this.$emit("changeQuantity", { id: this.product.id, value });
      this.subtotalPrice = this.product.price * value;
    }
  }
};
</script>

<style scoped>
.basket-product {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.price,
.quantity,
.subtotal {
  width: 15%;
}

.item {
  width: 55%;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.subtotal {
  text-align: right;
}
</style>
