<template>
  <div id="app">
    <div class="basket-module">
      <label for="promo-code">Enter a promotional code</label>
      <input
        v-model="promo"
        id="promo-code"
        type="text"
        name="promo-code"
        maxlength="5"
        class="promo-code-field"
      />
      <button v-on:click="applyPromo" class="promo-code-cta">Apply</button>
    </div>

    <cart />

    <!-- Should by component - but i am lazy -->
    <aside>
      <div class="summary">
        <div class="summary-total-items">
          <span class="total-items">{{getCartProductsLength}}</span> Items in your Bag
        </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">{{getTotal.toFixed(2)}}</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo">{{getPromo}}</div>
          </div>
        </div>
        <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
            <option value="0" selected="selected">Select Collection or Delivery</option>
            <option value="collection">Collection</option>
            <option value="first-class">Royal Mail 1st Class</option>
            <option value="second-class">Royal Mail 2nd Class</option>
            <option value="signed-for">Royal Mail Special Delivery</option>
          </select>
        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">{{getTotal.toFixed(2)}}</div>
        </div>
        <div class="summary-checkout">
          <button v-on:click="proceedToCheckout" class="checkout-cta">Go to Secure Checkout</button>
        </div>
      </div>
    </aside>
  </div>
</template>

<script>
import Cart from "./components/Cart.vue";
import "ant-design-vue/dist/antd.css";
import store from "./stores/ItemStore";
import { notification } from "ant-design-vue";

export default {
  name: "app",
  components: {
    Cart
  },

  beforeMount() {
    this.initialiseStore();
  },

  computed: {
    getTotal() {
      return store.getters.getTotal;
    },
    getCartProductsLength() {
      return store.getters.getCartProductsLength;
    },
    getPromo() {
      return store.state.coupon;
    }
  },

  methods: {
    initialiseStore() {
      store.dispatch("initialiseStore");
    },
    applyPromo() {
      if (!this.promo || this.promo === "") {
        alert("Enter promo code");
      } else if (store.state.coupon) {
        alert("Already using coupon");
      } else {
        notification.open({
          message: "Coupon",
          description: `${this.promo} successfully added to your order (-10€ promo)`
        });
        store.dispatch("applyPromoCode", this.promo);
        store.dispatch("saveStore");
      }
    },
    proceedToCheckout() {
      store.dispatch("proceedToCheckout");
    }
  },

  data() {
    return {
      promo: store.state.coupon
    };
  }
};
</script>

<style>
label {
  display: block;
  margin-bottom: 0.3125rem;
}
.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}
img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}
#app {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}
body {
  background-color: #fff;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

aside {
  float: right;
  position: relative;
  width: 30%;
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  position: fixed;
  width: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8b0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}
</style>
